{{#each model as |educator|}}
  <h4>{{educator.name}}</h4>

  <div class="col-md-3" id="samplespacing">
    <b>Department:</b>
    <br>
    <b>Degre:</b>
    <br>
    <b>Dates:</b>
  </div>
  <div class="col-md-9">
    {{educator.department}}
    <br>
    {{educator.degree}}
    <br>
    {{educator.dates}}
  </div>
{{/each}}