{{#each model as |educator|}}
  <li>
    <h4 class="editable">{{educator.name}}</h4>
    <h5 class="editable">{{educator.dates}}</h5>
    <h5 class="editable">{{educator.degree}}</h5>
    <h5 class="editable">{{educator.location}}</h5>
  </li>
{{/each}}