<div id="about-personal">
  <h4>Bio:</h4>
  <p class="editable">{{model.bio}}</p>
  <aside>
    <p><b>Phone:</b> <span class="editable">{{model.phone}}</span></p>
    <p><b>Member since:</b> {{model.join_date}}</p>
  </aside>
  {{fa-icon "envelope" size=3}}
</div>