{{#each model as |employer|}}
  <li>
    {{#edit-field text=employer.name tagName="h4"}}{{/edit-field}}
    {{#edit-field text=employer.dates tagName="h5"}}{{/edit-field}}
    {{#edit-field text=employer.title tagName="h5"}}{{/edit-field}}
    {{#edit-field text=employer.location tagName="h5"}}{{/edit-field}}
  </li>
{{/each}}
