<b>Bio:</b>
<p>{{model.bio}}</p>
<div class="col-md-6" id="noindent">
  <p><b>Phone:</b> {{model.phone}}</p>
  <p><b>Member since:</b> {{model.join_date}}</p>
</div>
<div class="col-md-6" id="noindent">
  <div id="mailicon"></div>
</div>
