{{#each model as |employer|}}
  <h4>{{employer.name}}</h4>
  <div class="col-md-3 samplespacing">
    <b>Department:</b>
    <br>
    <b>Title:</b>
    <br>
    <b>Dates:</b>
  </div>
  <div class="col-md-9">
    {{employer.department}}
    <br>
    {{employer.title}}
    <br>
    {{employer.dates}}
  </div>
{{/each}}