{{#each model as |educator|}}
  <li>
    {{#edit-field text=educator.name tagName="h4"}}{{/edit-field}}
    {{#edit-field text=educator.dates tagName="h5"}}{{/edit-field}}
    {{#edit-field text=educator.degree tagName="h5"}}{{/edit-field}}
    {{#edit-field text=educator.location tagName="h5"}}{{/edit-field}}
  </li>
{{/each}}