{{#each model as |employer|}}
  <div class="education-employment">
    {{#cp-panel}}
      {{#cp-panel-toggle}}
        <h4>{{employer.name}}</h4>
      {{/cp-panel-toggle}}
      {{#cp-panel-body}}
        <dl class="dl-horizontal edu-Emp-Info">
          <dt>Department:</dt>
          <dd>{{employer.department}}</dd>
          <dt>Title:</dt>
          <dd>{{employer.title}}</dd>
          <dt>Dates:</dt>
          <dd>{{employer.dates}}</dd>
        </dl>
      {{/cp-panel-body}}
    {{/cp-panel}}
  </div>
{{/each}}

