<b>Bio:</b>
<p><span id="bio-text">{{model.bio}}</span></p>
<div class="col-md-6 no-padding">
  <p><b>Phone:</b> <span>{{model.phone}}</span></p>
  <p><b>Member since:</b> <span>{{model.join_date}}</span></p>
</div>
<div class="col-md-6 no-padding">
  <div id="mailicon"></div>
</div>
