<section class="col-md-6">
	<div class="profile-box">
		<h1>Projects</h1>
		<div class="profile-content no-padding">
      {{#projects-list model=model onSelect=(action "select")}}{{/projects-list}}
		</div>
	</div>
</section>
<section class="col-md-6">
	<div class="profile-box">
		<h1>Wiki</h1>
		<div class="profile-content">
      {{#projects-detail project=project}}{{/projects-detail}}
		</div>
	</div>
</section>