<section class="col-md-6">
  <div>
    {{#about-personal model=model.personal}}{{/about-personal}}
  </div>
  <div>
    {{#about-social model=model.social}}{{/about-social}}
  </div>
</section>
<section class="col-md-6">
  <div>
    {{#about-employment model=model.employment}}{{/about-employment}}
  </div>
  <div>
    {{#about-education model=model.education}}{{/about-education}}
  </div>
</section>