<main id="profile-about">
    <section class="col-md-6">
        <div class="profile-box">
            <h1>Personal</h1>
            <div class="profile-content">
                {{#about-personal model=model.personal}}{{/about-personal}}
            </div>
        </div>
        <div class="profile-box">
            <header>
                <h1>Social</h1>
                {{fa-icon "plus-square" size=2 click=(route-action "add" "social")}}
            </header>
            <div class="profile-content">
                {{#about-social model=model.social}}{{/about-social}}
            </div>
        </div>
    </section>
    <section class="col-md-6">
        <div class="profile-box">
            <header>
                <h1>Employment</h1>
                {{fa-icon "plus-square" size=2 click=(route-action "add" "employment")}}
            </header>
            <div class="profile-content no-padding">
                {{#about-employment model=model.employment}}{{/about-employment}}
            </div>
        </div>
        <div class="profile-box">
            <header>
                <h1>Education</h1>
                {{fa-icon "plus-square" size=2 click=(route-action "add" "education")}}
            </header>
            <div class="profile-content no-padding">
                {{#about-education model=model.education}}{{/about-education}}
            </div>
        </div>
        <div class="profile-box">
            <header>
                <h1>Uploads</h1>
                {{fa-icon "plus-square" size=2 click=(route-action "add" "upload")}}
            </header>
            <div class="profile-content">
                {{#about-uploads model=model.uploads}}{{/about-uploads}}
            </div>
        </div>
    </section>
</main>