<main id="profile-about">
  <section class="col-md-6">
    <div class="profile-box">
      <h1>Personal</h1>
      <div class="profile-content">
        {{#about-personal model=model.personal}}{{/about-personal}}
      </div>
    </div>
    <div class="profile-box">
      <h1>Social</h1>
      <div class="profile-content">
        {{#about-social model=model.social}}{{/about-social}}
      </div>
    </div>
  </section>
  <section class="col-md-6">
    <div class="profile-box">
      <h1>Employment</h1>
      <div class="profile-content no-padding">
        {{#about-employment model=model.employment}}{{/about-employment}}
      </div>
    </div>
    <div class="profile-box">
      <h1>Education</h1>
      <div class="profile-content no-padding">
        {{#about-education model=model.education}}{{/about-education}}
      </div>
    </div>
  </section>
</main>