<main id="profile-collaborators">
  <section class="full">
    <div class="profile-box">
      <header>
        <h1>Collaborators</h1>
          <label for="collab-filters">Filter by <select name="collab-filters">
            <option value='projects:desc' groupValue=sortBy>Projects</option>
            <option value='lastName' groupValue=sortBy>Name</option>
            <option value='location' groupValue=sortBy>Location</option>
            <option value='title' groupValue=sortBy>Title</option>
            </select>
          </label>
      </header>
      <div class="profile-content no-padding">
        {{#collaborators-list model=model sortBy=sortBy value=value }}{{/collaborators-list}}
      </div>
    </div>
  </section>
</main>