<div id="profile-collaborators">
  <section class="col-md-12">
    <div class="profile-box">
      <h1>Collaborators</h1>
      <div class="profile-content no-padding">
        {{#collaborators-list model=model}}{{/collaborators-list}}
      </div>
    </div>
  </section>
</div>