<section class="col-md-12" id="single-col-indent">
  <div class="profile-box">
    <h1>Collaborators</h1>
    <div class="profile-content no-padding" id="collaborators">
      {{#collaborators-list model=model.collaborator}}{{/collaborators-list}}
    </div>
  </div>
</section>