<main id="profile-projects">
  <section class="full">
    <div class="profile-box">
      <header>
        <h1 class="col-md-6">Projects</h1>
        <h2 class="col-md-2">Date Created</h2>
        <h2 class="col-md-2">Last Modified</h2>
        <h2 class="col-md-1">Views</h2>
        <h2 class="col-md-1.75">Registered</h2>
      </header>
      <div class="profile-content no-padding">
        {{#projects-list model=model}}{{/projects-list}}
      </div>
    </div>
  </section>
</main>