@import 'variables';
@import 'mixins';

@include media(sm) {
  #banner {
    height: 40rem;
  }
  #body-background {
    margin: 0;
    //min-height: 100vh;
  }
  #menu-list {
    .col-md-2 {
      position: absolute;
      height: 0;
      width: 100%;
      top: -5rem;
    }
    & > li {
      a {
        width: 100%;
      }
      & > h5, & > button {
        display: none;
        float: none;
        position: absolute;
        top: 50%;
      }
    }
  }
  #profile-picture-wrapper {
    width: 50%;
    max-width: 20rem;
    margin: 0 auto;
  }
  #profile-picture {
    margin-top: -100%;
    width: 100%;
    margin-left: 0;
    border-width: 2px;
  }
  main section {
    padding: 0 !important;
  }
  .profile-box {
    border-style: solid none;
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
  #collaborators-list {
    $item-height: 7rem;
    max-height: none;
    img {
      width: $item-height;
    }
    .collab-text {
      height: $item-height;
      h4, h5, ul {
        line-height: $item-height / 3;
      }
    }
  }
  .activity-content {
    max-height: none;
  }
}

@include media(md) {
  #body-background {
    width: 100vw;
  }

  #body-wrapper {
    padding-bottom: 0;
    background: none;
  }

  #body-background {
    min-height: 0;
  }

  .projects-panel {
    height: inherit;
  }
}

@include media(xl) {
  #profile-picture {
    width: 110%;
    margin-top: -55%;
    margin-left: -5%;
    border-width: 5px;
  }
  .collab-item {
    width: (100% / 3);
  }
}
