@import 'variables';
@import 'mixins';

@include media(sm) {
  #banner {
    height: 40rem;
  }
  #body-background {
    margin: 0;
    //min-height: 100vh;
  }

  #banner {
    padding-top: 10rem;
    &:before {
      display: block;
      margin: 0 auto 1rem;
    }
  }

  #profile-name {
    display: block;
    h1, h4 {
      margin: 0;
      color: white;
      text-align: center;
    }
  }

  main section {
    padding: 0 !important;
  }
  .profile-box {
    border-style: solid none;
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
  #profile-projects .profile-box {
    header h2, header .fa {
      display: none;
    }
  }
  #projects-list {
    .cp-Panel-toggle {
      h2, & > .fa, & > button {
        display: none;
      }
    }
    .cp-Panel-body-inner {
      & h1 i {
        white-space: normal;
      }
    }
  }
  #collaborators-list {
    $item-height: 7rem;
    max-height: none;
    img {
      width: $item-height;
    }
    .collab-text {
      height: $item-height;
      h4, h5, ul {
        line-height: $item-height / 3;
      }
    }
  }
  .activity-content {
    max-height: none;
  }
}

@include media(md) {
  #body-background {
    width: 100vw;
  }

  #body-wrapper {
    padding-bottom: 0;
    background: none;
  }

  #body-background {
    min-height: 0;
  }

  .projects-panel {
    height: inherit;
  }
}

@include media(xl) {
  .collab-item {
    width: (100% / 3);
  }
}
