/*										*/
/*		Navigation Menu Formatting		*/
/*										*/

ul, menu, dir {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 40px;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 340px;
}

.navbar-brand > img {
    display: block;
}

.osf-navbar-logo {
    float: left;
    margin-right: 8px;
    background-size: 100%;
    width: 27px;
    height: 27px;
}

img {
    vertical-align: middle;
    border: 0;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
}

.navbar-header {
    float: left;
}

.navbar-brand {
    float: left;
    padding: 12.5px 15px;
    font-size: 18px;
    line-height: 25px;
    height: 50px;
}

.navbar-inverse {
    background-color: #214762;
    background-image: linear-gradient(to bottom, rgba(60, 60, 60, 0.5) 0%, rgba(34, 34, 34, 0.5) 100%);
    background-repeat: repeat-x;
    border-color: rgba(8, 8, 8, 0.5);
}

.navbar {
    min-height: 50px;
    margin-bottom: 25px;
    border: 1px solid transparent;
}

.navbar-fixed-top {
    border-width: 0 0 1px;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    border-radius: 0;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

#navbarScope {
    top: 0;
    transition: top 0.3s ease-in-out;
}

#navbarScope .nav > li > a {
    color: #FFF;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-brand {
    margin-left: 0 !important;
    padding-left: 0;
}

nav {
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    list-style: none;
}

/*								*/
/*		Body Formatting			*/
/*								*/
a {
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

p, a, span, em, td {
    word-break: break-all;
    word-wrap: break-word;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
}
