@import 'bootstrap';
@import 'navbar';
@import 'variables';
@import 'mixins';

%clear {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

footer {
  @extend %clear;
  margin: 0;
  width: 100%;
  color: #555;
  background-color: $light;
  padding: 70px;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    color: $select;
    cursor: pointer;
  }
}

#copyright {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 10px;
}

main {
  @extend %clear;
  section.col-md-6 {
    padding: 0 2rem 2rem;
  }
  section:first-child {
    padding-right: 1rem;
  }
  section:nth-child(2) {
    padding-left: 1rem;
  }
  section.full {
    padding: 0 2rem 2rem 2rem;
  }
}

#banner {
  position: relative;
  height: 300px;
  background: #166595 url("https://osf.io/static/img/front-page/bg-web.png") no-repeat center top;
  background-size: cover;
}

#body-wrapper {
  background: #C5D6E6 url('https://osf.io/static/img/bg6.jpg') top center repeat-y;
  background-size: cover;
  padding-bottom: 10vh;
}

#body-background {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: white;
  width: 70vw;
  min-height: 90vh;
  margin-top: 30px;
}

#menu-list {
  @extend %clear;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  & > li {
    //@extend %clear;
    padding: 0;
    margin: 0;
    h5 {
      padding: 1rem;
      margin: 0;
      clear: left;
    }
    button {
      float: right;
      margin: 1rem;
      padding: 0.5rem 1rem;
      clear: left;
    }
  }

  li {
    &:nth-child(2) {
      z-index: 3;
    }
    a {
      display: inline-block;
      background-color: $blue;
      line-height: 5rem;
      font-size: 2rem;
      text-align: center;
      color: white;
      transition: background-color 0.1s linear;
      &:hover {
        background-color: $select;
        text-decoration: none;
      }
      &:active {
        background-color: darken($select, 10%);
      }
      &.active {
        background-color: $select;
      }
    }
  }
}

#profile-picture {
  margin-top: -60%;
  margin-left: -10%;
  width: 120%;
  border: 3px solid white;
  border-radius: 50%;
  background: white url("https://secure.gravatar.com/avatar/119ccf7175af9a2d1a103b8126667068?d=identicon&s=500") no-repeat center;
  background-size: cover;
  &:before {
    content: '';
    display: block;
    margin-top: 100%;
  }
}

#profile-name {
  margin-bottom: 3rem;
  text-align: center;
  h1 {
    padding-top: 1vw;
    line-height: 1;
    margin-top: 0;
  }
}

.small-text {
  font-size: 90%;
}

.no-padding {
  padding: 0;
}

.no-margins {
  margin: 0;
}

.btn-upload {
  float: right;
  padding-bottom: 10px;
  display: none;
}

.empty-message {
  margin-top: 10px;
  text-align: center;
}

.editable > textarea {
  min-height: 10rem;
}

.activity-content {
  max-height: 30vh;
  overflow: scroll;
}

.dl-horizontal {
  dd:before, dd:after {
    content: none;
  }
}

#activity-stats {
  @extend %clear;
  margin-bottom: 0;
  dd {
    display: inline-block;
    float: right;
    width: 50%;
    margin: 0;
    padding-left: 1rem;
    &:not(:first-of-type) {
      padding-top: 1rem;
    }
  }
  dt {
    clear: both;
    float: left;
    display: inline-block;
    white-space: normal;
    width: 50%;
    padding-right: 1rem;
    &:not(:first-of-type) {
      padding-top: 1rem;
    }
  }
}

#activity-recent {
  margin-bottom: 0;
  dt {
    margin-right: 1rem;
  }
  /*
  dd {
    margin: 1rem 0;
  }
  */
}

.toggle-container {
  position:absolute;
  right:0;
  top: 0;
}

.active-edit {
  color:green;
}

.profile-box {
  @extend %clear;
  border: #DDD 1px solid;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  & > h1 {
    padding: 1rem;
    margin: 0;
    font-size: 2rem;
    background-color: #F5F5F5;
    border-bottom: #DDD 1px solid;
  }
  & > header {
    @extend %clear;
    margin: 0;
    padding: 1rem 0;
    background-color: #F5F5F5;
    border-bottom: #DDD 1px solid;
    & > h1, & > .fa {
      font-size: 2rem;
      margin: 0;
      float: left;
      padding: 0 1rem;
    }
    & > label {
      margin: 0;
      vertical-align: text-bottom;
      float: right;
      padding: 0 1rem;
      & > select {
        margin-left: .5rem;
        font-size: 2rem;
      }
    }
  }
  & > .profile-content:not(.no-padding) {
    padding: 1rem;
  }
}

#about-personal {
  @extend %clear;
  aside {
    float: left;
  }
  div {
    float: right;
    i {
      color: black;
    }
  }
}

#single-col-indent {
  padding-left: 5rem;
  padding-right: 5rem;
}

#collaborators-list {
  $item-height: 10rem;
  @extend %clear;
  max-height: 70vh;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: scroll;
  & > .collab-item {
    //border-bottom: 1px solid #DDD;
    padding: 1rem;
  }

  img {
    display: inline-block;
    width: $item-height;
    margin-right: 1rem;
    border-radius: 50%;
    background: white center no-repeat;
    background-size: cover;
    vertical-align: top;
    &:before {
      content: '';
      display: block;
      margin-top: 100%;
    }
  }
  .collab-text {
    display: inline-block;
    height: $item-height;
    h5 {
      font-weight: normal;
    }
    h4 {
      font-weight: 600;
    }
    h4, h5, ul {
      line-height: $item-height / 3;
      margin: 0;
    }
  }

}

.cp-Panel-toggle:link {
  text-decoration: none;
}

#profile-about {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      @extend %clear;
      display: block;
      padding: .5rem 2rem;
      transition: background-color 0.1s linear;
      &:hover {
      }
      :first-child {
        color: #2E2E2E;
        font-size: 16px;
        font-weight: bold;
        word-break: normal;
        margin-bottom: 0;
        float: left;
      }
      :nth-child(2), :nth-child(4) {
        float: right;
        font-size: 14px;
        margin-bottom: 0;
      }
      :nth-child(3) {
        clear: both;
        float: left;
        font-size: 14px;
      }
    }
  }
}

.projects-panel {
  height: 50vh;
  overflow: scroll;
}

#projects-detail {
  padding: 1rem;
  p {
    word-break: keep-all;
  }
}

#projects-list {
  $font-size: 2rem;
  $warning-stripes: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(red, 0.4) 10px, rgba(red, 0.4) 20px);
  .cp-Panel {
    border: 1px #DDD;
    border-style: none none solid;
    &.private {
      //border: dotted red 1px;
      .cp-Panel-toggle {
        background: $warning-stripes;
        &:hover {
          background: $warning-stripes, $hover;
        }
        &:active, &.cp-is-open {
          background: $warning-stripes, $select;
        }
        button {
          margin: 0.5rem 0;
          &.btn-link {
            font-size: 1.6rem;
            font-weight: bold;
          }
        }
      }
    }
  }
  .cp-Panel-toggle {
    @extend %clear;
    display: block;
    padding: 0;
    color: black;
    transition: color 0.1s linear, background 0.1s linear;
    &.cp-is-open {
      .fa {
        color: white;
      }
      &:hover {
        background-color: $select;
      }
    }
    &:hover {
      background-color: $hover;
    }
    &:active, &.cp-is-open {
      background-color: $select;
      color: white;
    }
    h2, .fa {
      padding: 1rem;
      margin: 0;
      font-weight: normal;
      font-size: $font-size;
      line-height: $font-size;
    }
    .fa-times {
      color: red;
    }
    .fa-check {
      color: green;
    }
  }
  h1 {
    padding: 1rem;
    margin: 0;
    font-size: ($font-size * 0.8);
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    b {
      font-size: $font-size;
    }
  }
  .cp-Panel-body-inner {
    padding: 0;
  }
  nav {
    padding: 0;
    margin: 0;
    & > a {
      display: block;
      padding: 1rem;
      color: black;
      background-color: #F5F5F5;
      transition: color 0.1s linear, background-color 0.1s linear;
      &:not(:last-child) {
        border-bottom: #DDD 1px solid;
      }
      &:hover {
        color: white;
        background-color: $select;
        text-decoration: none;
      }
      &:active {
        background-color: darken($select, 10%);
      }
    }
  }
}

@import 'mobile';
