@import 'bootstrap';
@import 'navbar';
@import 'variables';

%clear {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

footer {
  @extend %clear;
  margin: 0;
  width: 100%;
  color: #555;
  background-color: $light;
  padding: 70px;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    color: $select;
    cursor: pointer;
  }
}

#copyright {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 10px;
}

main {
  @extend %clear;
  & > section:first-child {
    padding-right: 7.5px;
  }
  & > section:nth-child(2) {
    padding-left: 7.5px;
  }
}

#banner {
  position: relative;
  left: 0;
  top: 0;
  height: 300px;
  background: #166595 url("https://osf.io/static/img/front-page/bg-web.png") no-repeat center top;
  background-size: cover;
}

#body-wrapper {
  background: #C5D6E6 url('https://osf.io/static/img/bg6.jpg') top center repeat-y;
  background-size: cover;
  padding-bottom: 10vh;
}

#body-background {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: white;
  width: 70vw;
  min-height: 90vh;
  margin-top: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 4rem;
  & > li {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  li {
    &:nth-child(2) {
      z-index: 3;
    }
    a {
      display: inline-block;
      background-color: $blue;
      line-height: 4rem;
      text-align: center;
      color: white;
      transition: background-color 0.1s linear;
      &:hover {
        background-color: $select;
        text-decoration: none;
      }
      &:active {
        background-color: darken($select, 10%);
      }
      &.active {
        background-color: $select;
      }
    }
  }
}

#profile-picture {
  margin-top: -60%;
  margin-left: -10%;
  width: 120%;
  border: 5px solid white;
  border-radius: 50%;
  background: white url("https://s3.amazonaws.com/uifaces/faces/twitter/_everaldo/128.jpg") no-repeat center;
  background-size: cover;
  &:before {
    content: '';
    display: block;
    margin-top: 100%;
  }
}

#name {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

#selfview {
  @extend %clear;
  & > h5 {
    color: grey;
    &:last-child {
      text-align: right;
    }
  }
}

.no-padding {
  padding: 0;
}

#mailicon {
  margin-left: 75%;
  width: 25%;
  border: 5px solid white;
  background: white url("https://cdn0.iconfinder.com/data/icons/flat-green-icon-set/512/Mail_Icon_FlatGreen.png") no-repeat center;
  background-size: cover;
  &:before {
    content: '';
    display: block;
    margin-top: 100%;
  }
}

.activity-content {
  height: 359px;
  overflow: scroll;
}

.project-stats dd {
  border-bottom: solid 1px #F1F1F1;
  margin-left: 220px;
}

.project-stats dt{
    white-space: normal;
    width: 200px;
}

.spaced-list {
  margin: 10px 0;
}

.profile-box {
  @extend %clear;
  border: #DDD 1px solid;
  &:not(last-child) {
    margin-bottom: 2rem;
  }
  & > h1 {
    padding: 1rem;
    margin: 0;
    font-size: 2rem;
    background-color: #F5F5F5;
    border-bottom: #DDD 1px solid;
  }
  & > .profile-content:not(.no-padding) {
    padding: 1rem;
  }
}

#single-col-indent {
  padding-left: 5rem;
  padding-right: 5rem;
}

.samplespacing {
  padding-bottom: 2rem;
}

.collab-box {
  @extend %clear;
  border-bottom: 1px solid darkgrey;
}

.collab-pic {
  width: 8rem;
  height: 8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid lightgrey;
  border-radius: 15%;
}

#collab-info {
  padding-left: 3.5rem;
  margin-top: 3px;
}

#collab-social {
  margin-top: -1px;
}

#collaborators {
  height: 75rem;
  overflow: scroll;
}
