@import 'bootstrap';
@import 'navbar';
@import 'variables';

%clear {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

footer {
  @extend %clear;
  margin: 0;
  width: 100%;
  color: #555;
  background-color: $light;
  padding: 70px;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    color: $select;
    cursor: pointer;
  }
}

#copyright {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 10px;
}

main {
  @extend %clear;
  section.col-md-6 {
    padding: 0 2rem 2rem;
  }
  section:first-child {
    padding-right: 1rem;
  }
  section:nth-child(2) {
    padding-left: 1rem;
  }
  section.col-md-12 {
    padding: 0 2rem 2rem 2rem;
  }
}

#banner {
  position: relative;
  left: 0;
  top: 0;
  height: 300px;
  background: #166595 url("https://osf.io/static/img/front-page/bg-web.png") no-repeat center top;
  background-size: cover;
}

#body-wrapper {
  background: #C5D6E6 url('https://osf.io/static/img/bg6.jpg') top center repeat-y;
  background-size: cover;
  padding-bottom: 10vh;
}

#body-background {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: white;
  width: 70vw;
  min-height: 90vh;
  margin-top: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 4rem;
  & > li {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  li {
    &:nth-child(2) {
      z-index: 3;
    }
    a {
      display: inline-block;
      background-color: $blue;
      line-height: 4rem;
      text-align: center;
      color: white;
      transition: background-color 0.1s linear;
      &:hover {
        background-color: $select;
        text-decoration: none;
      }
      &:active {
        background-color: darken($select, 10%);
      }
      &.active {
        background-color: $select;
      }
    }
  }
}

#profile-picture {
  margin-top: -60%;
  margin-left: -10%;
  width: 120%;
  border: 5px solid white;
  border-radius: 50%;
  background: white url("https://secure.gravatar.com/avatar/119ccf7175af9a2d1a103b8126667068?d=identicon&s=500") no-repeat center;
  background-size: cover;
  &:before {
    content: '';
    display: block;
    margin-top: 100%;
  }
}

#profile-name {
  margin-top: calc(70vw/12*6/5 - 4rem - 4rem);
  margin-bottom: 3rem;
  text-align: center;
  h1 {
    padding-top: 1vw;
    line-height: 1;
    margin-top: 0;
  }
}

#profile-selfview {
  @extend %clear;
  height: 4rem;
  color: grey;
  padding: 0 1rem;
  & > h5 {
    float: left;
  }
  aside {
    float: right;
    text-align: right;
  }
}

.no-padding {
  padding: 0;
}

.no-margins {
  margin: 0;
}

.activity-content {
  max-height: 30vh;
  overflow: scroll;
}

.activity-stats {
  dd {
    border-bottom: solid 1px #F1F1F1;
    margin: 1rem 0 1rem 51%;
  }
  dt {
    white-space: normal;
    width: 50%;
    padding-right: 1%;
  }
}

.activity-recent {
  dd {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.toggle-container {
  position:absolute;
  right:0;
  top: 0;
}

.active-edit {
  color:green;
}

.profile-box {
  @extend %clear;
  border: #DDD 1px solid;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  & > h1 {
    padding: 1rem;
    margin: 0;
    font-size: 2rem;
    background-color: #F5F5F5;
    border-bottom: #DDD 1px solid;
  }
  & > .profile-content:not(.no-padding) {
    padding: 1rem;
  }
}

#about-personal {
  @extend %clear;
  aside {
    float: left;
  }
  div {
    float: right;
    i {
      color: black;
    }
  }
}

#single-col-indent {
  padding-left: 5rem;
  padding-right: 5rem;
}

#profile-collaborators .profile-content {
  max-height: 70vh;
  overflow: scroll;
  .collab-item {
    border-bottom: 1px solid #DDD;
  }

  img {
    width: 5rem;
    height: 5rem;
    border: 1px solid lightgrey;
    border-radius: 50%;
    vertical-align: top;
    margin: 1rem;
  }
  .collab-text {
    display: inline-block;
    h5 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

}

.cp-Panel-toggle:link {
  text-decoration: none;
}

#profile-about {
  .cp-Panel {
    border: 1px solid #DDD;
  }
  .cp-Panel-toggle {
    @extend %clear;
    display: block;
    background-color: #FAFAFA;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    &:hover {
      background-color: whitesmoke;
    }
    & > h4 {
      float: left;
      color: #2E2E2E;
      word-break: normal;
    }
    & > i {
      float: right;
      padding: 1.25rem;
      color: gray;
      transition: transform 0.1s linear;
    }
    &.cp-is-open > i {
      transform: rotate(90deg);
    }
  }
  .cp-Panel-body-inner {
    padding: 1em;
  }
}

.projects-panel {
  height: 50vh;
  overflow: scroll;
}

#projects-detail {
  padding: 1rem;
  p {
    word-break: keep-all;
  }
}

#projects-list {
  .cp-Panel {
    border: 1px #DDD;
    border-style: none none solid;
  }
  .cp-Panel-toggle {
    @extend %clear;
    display: block;
    padding: 0;
    color: black;
    transition: color 0.1s linear, background-color 0.1s linear;
    &:hover, &.cp-is-open {
      background-color: $select;
      color: white;
    }
    &:active {
      background-color: darken($select, 10%);
    }
  }
  h1 {
    padding: 1rem;
    margin: 0;
    font-size: 2rem;
  }
  h2 {
    float: right;
    padding: 1rem;
    margin: 0;
    font-size: 2rem;
  }
  .cp-Panel-body-inner {
    padding: 0;
  }
  nav {
    padding: 0;
    margin: 0;
    & > a {
      display: block;
      padding: 1rem;
      color: black;
      background-color: #F5F5F5;
      transition: color 0.1s linear, background-color 0.1s linear;
      &:not(:last-child) {
        border-bottom: #DDD 1px solid;
      }
      &:hover {
        color: white;
        background-color: $select;
        text-decoration: none;
      }
      &:active {
        background-color: darken($select, 10%);
      }
    }
  }
}
