<div id="body-background">
  <div id="image-container">
    <div id="banner-container">
    </div>
  </div>
  <div id="links-container">
    <ul id="menu-list">
      <li class="col-md-5">
        <a class="col-md-6">About</a>
        <a class="col-md-6">Projects</a>
      </li>
      <li class="col-md-2">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/_everaldo/128.jpg"/>
      </li>
      <li class="col-md-5">
        <a class="col-md-6">Contributors</a>
        <a class="col-md-6">Activity</a>
      </li>
    </ul>
  </div>
  <main>
    {{outlet}}
  </main>
</div>

