<div id="body-wrapper">
  <div id="body-background">
    <div id="banner"></div>
    <nav>
      <ul id="menu-list">
        <li class="col-md-5">
          {{#link-to "profile.about" class="col-md-6"}}About{{/link-to}}
          {{#link-to "profile.projects" class="col-md-6"}}Projects{{/link-to}}
        </li>
        <li class="col-md-2">
          <div id="profile-picture"></div>
        </li>
        <li class="col-md-5">
          {{#link-to "profile.collaborators" class="col-md-6"}}Collaborators{{/link-to}}
          {{#link-to "profile.activity" class="col-md-6"}}Activity{{/link-to}}
        </li>
      </ul>
    </nav>
    <div id="name">
      <h1>John Doe</h1>
      <h4>Charlottesville, VA  |  Developer</h4>
    </div>
    <main>
      {{outlet}}
    </main>
  </div>
</div>